.mail__address {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.input__box {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-right: 120px;
}

.input__article {
  padding: 4px;
}

.text {
  border: none;
  border-bottom: 1px black solid;
  height: 400px;
  width: 400px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
}

@media (max-width: 414px) {
  .mail__address {
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
  }
}
