.header .top__message {
  font-size: 70px;
  text-align: center;
  padding-top: 90px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 500;
}

.header .play__icon {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

@keyframes GDinHeader {
  from {
    color: black;
  }

  to {
    color: rgb(185, 47, 112);
  }
}

.menu__bar {
  font-family: "Nanum Myeongjo", serif;

  margin: 0px 50px;
  margin-top: 50px;
  margin-bottom: 120px;
}

.choose__menu__bar {
  display: flex;
  justify-content: space-around;
}

.menu__bar :hover {
  animation: GDinHeader 0.5s ease-out forwards;
}

@media (max-width: 375px) {
  .play__icon {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
  }
  .index__music {
    width: 30%;
  }
  .menu__bar {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .choose__menu {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu__2 {
    padding-left: 5px;
  }
  #menu__4 {
    padding-right: 5px;
  }
  #menu__5 {
    padding-right: 3px;
  }
}
