.album__music {
  margin: 30px;
}

.music__img {
  padding: 20px;
  display: block;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  margin-bottom: 10px;
}

.album__Description {
  margin-left: 20px;
}

.youtube__music {
  display: block;
  padding: 30px 235px;
  margin: 0px auto;
  margin-left: 50px;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 130px;
  max-height: 130px;
  background-color: #87a648;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.album__music,
.youtube__music {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
}

.link__youtube {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 414px) {
  .music__main {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .music__img {
    max-width: 200px;
    max-height: 200px;
  }
  .album__Description {
    font-size: 15px;
  }

  .youtube__music {
    display: block;
    font-size: 16px;
    padding: 20px 50px;
    margin: 0px auto;
    margin-left: 75px;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 130px;
    max-height: 130px;
    background-color: #87a648;
    color: white;
    cursor: pointer;
  }
}
