.session__img {
  margin: 0px auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

.lesson__article {
  margin-left: 40px;
  margin-top: 30px;
}

.session__article,
.session__article__header {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  display: block;
  margin: 8px 0px;
}

.lesson__article .session__header {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-size: 30px;
}
@media (max-width: 414px) {
  .session__img {
    max-width: 350px;
    max-height: 350px;
  }

  .lesson__article {
    margin-left: 20px;
    margin-top: 30px;
  }
  .session__article,
  .session__article__header {
    padding: 10px 0px;
  }
}
